body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #242323;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.search-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-filters input {
  padding: 10px;
  width: 22%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.search-filters input:focus {
  border-color: #007bff;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #144b86;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #292828;
}

@media (max-width: 768px) {
  .search-filters {
    flex-direction: column;
  }

  .search-filters input {
    width: 100%;
    margin-bottom: 10px;
  }
}
